.question{
    background-color: rgb(210, 169, 169);
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 40px;

}

.answer{
    display: flex;
    justify-content: space-between;
}