.topic1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    margin-left: 10%;
    margin-right: 10%;


}
.imgg{
    background-image: url(/src/images/web7.jpg);
    background-position: fixed;
    height: 800px;
    width: 100%;
    margin-top: -200px;
    margin-bottom: 50px;
   
}



.title4{
  font-weight: bold;
  font-size: 50px;
}
.about{
  padding-top:400px;
  justify-content: center;
  align-items: center;
}

.about2{
  color:whitesmoke;
}

@media only screen and (max-width: 600px) {
   .topic1{
    grid-template-columns: repeat(1, 1fr);
   }
}


@media only screen and (max-width: 900px) {
   .topic1{
    grid-template-columns: repeat(2, 1fr);
   }
}